@use 'variables';

@mixin border-animation {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .5em;
	overflow: hidden;
	> span {
		z-index: 2;
	}
	&:hover {
		&:before {
			content: '';
			position: absolute;
			width: 30px;
			height: 220%;
			background-color: variables.$base-color-effect;
			animation: rotate 3s linear infinite;
		}
		&:after {
			content: '';
			position: absolute;
			background-color: variables.$base-color-background-secondary;
			inset: .2em;
			border-radius: .35em;
		}
	}
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}