// ####################################
// ############## SIZES ###############
// ####################################

$page-width-min: 80%;
$page-width-max: 98% !default;

$header-height: 5rem !default;
$footer-height: 2rem !default;

$base-size-font: 1em;

// ####################################
// ############## COLORS ##############
// ####################################
$base-color-font: #e8d0eb;
$base-color-font-bold: #D85C27;
$base-color-background: #080e2c;
$base-color-background-secondary: #30385f;
$base-color-background-menu: #1a2b83;
$base-color-effect: #2d66a8;
$base-color-shade: rgb(29, 29, 29);